---
layout: default
---
<div class="post">
    <article class="post-content">
        {% if page.screenshot %}
        <a href="{{site.baseurl}}/img/screens/{{ page.screenshot }}"><img class="screenshot" src="{{site.baseurl}}/img/screens/{{ page.screenshot }}" alt="{{ page.title }}" />
        </a>
        {% endif %}


    </article>
    <header class="post-header">
        <h3 class="post-title">{{ page.title }}</h3>
        <p class="post-meta">
            <small>From</small> <a href="{{ page.product-link }}" target="_blank">{{ page.categories }}</a>
            <small>Updated</small> {{ page.date | date: "%b %-d, %Y" }}
            {% if page.author %}
                <small>By</small> <a href="{{ page.author-link }}">{{ page.author }}</a>
            {% endif %}
        </p>
    </header>
    {% if page.alt-screenshots %}
        <h4>Other States</h4>
        {% for shot in page.alt-screenshots %}
        <a href="{{site.baseurl}}/img/screens/{{ shot }}"><img src="{{site.baseurl}}/img/screens/{{ shot }}" class="screenshot alt" alt="{{ page.title }}" />
        </a>
        {% endfor %}
        {% endif %}
    {{ content }}
</div>
